
#logo{ 
	width : 90%;
	height: 100%;
	transition: height 0.3s;
	margin-left: 0px;
}

.logo{
	padding: 0px;
	margin: 0px;
}


header{
		height : 75px;
	  line-height : 75px;
     width : 100%;
	  transition: height 0.3s;
	  border-bottom : 2px solid black;
	  position: fixed;
	  z-index : 9999;
	  background-color: white;
	  box-shadow: 0px 5px 20px black;
}

.headeritem1{
	font-family: 'Hind Madurai', sans-serif;
	font-weight : bold;
	text-align:  center;
	font-size: 20px;
	color:  #068f87;
	padding: 15 5 15 10;
	transition: all 0.3s;
	
}

#login button{
		
	 text-shadow : 3px 3px 3px black; 
	background-color : #068f87;
	color: white;
	transition: all 0.3s;
	font-size: 20px;
	border: 2px solid grey;
	font-family: 'Hind Madurai', sans-serif;
	margin-left:10px; 
	
}


#login{
	position: relative;
	font-family: 'Fjalla One', sans-serif;
	background-color:  white;
	height: 100%;
	
}
.loginname{
	display: flex;
	align-items: center;
	height: 100%;
}

#login button:hover{
	
	background-color:white;;
	color: orange;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
	text-shadow : 0px 0px 0px white; 
}

.letters{
  
	height: 60px;
	line-height: 60px;
  text-align: center;
	width: 60px;
	border-radius: 30px;
	background:#068f87 ;
	color: white;
	text-shadow : 3px 3px 3px black; 
}


.letters:hover{
	background-color:white;;
	color: orange;
	box-shadow: inset 0px 0px 5px rgba(0,0,0,0.3);
	text-shadow : 0px 0px 0px white; 
}

.headeritem1:hover{
	border: 1px solid black;
	color: orange;
	border-radius: 4px;
	text-decoration: none;
	background-color:  white;
}

.dropdown{
	display: none;
}

.headeritem-services:hover>.dropdown{
	display: block;     
}
.dropdown {
	background: linear-gradient(#fff,#068f87);
	border-radius: 0px; padding: 0;
	position: absolute; top: 100%;
	width: 360px;
	list-style-type: none;
	left : -50px;

}
	.dropdown li {
		float: none; 
		border-top: 1px solid #6b727c;
		border-bottom: 1px solid #575f6a;
		transition: all 1s;
		font-weight: bold;
		height : 60px;
		line-height: 60px;
    
}
		.dropdown li a {
			padding: 15px 30px;
			color: black;
			text-decoration: none;
			width: 100%;
			
		}	
			.dropdown li:hover {
				background: linear-gradient(#068f87,white);
				padding-left: 20px;
			}

.loginname{
	font-size: 25px;
}

.loginname:hover{
	color: orange;;
}