#table{
  margin-bottom:50px; 
}

.welcome{
  margin: 150px 30px;
  margin-bottom: 30px;
  font-family: 'Fjalla One', sans-serif;
}


.edit,.delete{
  text-align: center;
  margin-bottom: 60px;
}

.header-delete,.header-edit{
  font-size: 20px;
  margin: 30px auto;
}

.input-group{
  margin: 10px 50px
    
}

